footer {
    background-image: linear-gradient(to right, rgba(0, 0, 6, 0.8), rgba(0, 0, 6, 0.8)), url(https://vnn-imgs-f.vgcloud.vn/2020/11/27/11/1-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2f2f2;
    height: 350px;
}
.container {
    width: 100%;
    
    padding: 20px;

}
.container .col-sm-3 {
    width: 25%;
    display: inline-block;
}
